html {
    width: 100%;
    height: 100%;
    margin: 0;
}

body {
    width: 100%;
    height: 100%;
    margin: 0;
}

#mainbox {
    height: 100%;
    width: 100%;
    margin: 0;
}

#header {
    height: 63px;
    width: 100%;
    display: flex;
    background-color: black;
    opacity: 80%;
    padding: 0 50px 0 50px;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

#logo-top {
    display: flex;
    flex-direction: row;
    height: 50px;
    width: 50px;
    margin: 10px;
    justify-content: center;
    align-items: center;

}

#logo-name {
    height: 100%;
    Width: auto;
    font-family: 'Fascinate', cursive;
    font-size: 25px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

#logo-pic {
    height: 50px;
    width: 50px;
    opacity: 100%;

}

#home-icon {
    height: 25px;
    width: 25px;
    
}

#home-icon:hover {
    background-image: url(icon-home-hover.png);
    background-size: 25px 25px;
    background-repeat: no-repeat;
    mask-image:url(icon-home-hover.png);
    mask: mode 100%;
    mask-type:luminance;
}

#home-text {
   
    font-family: "-apple-system", "BlinkMacSystemFont", 'Segoe UI', "Roboto, Oxygen", "Ubuntu", "Cantarell", "Open Sans", "Helvetica Neue", "sans-serif";
   
    display: flex;
    align-items: center;
    margin-right: 15px;
    
}

#nav-selector {

    display: flex;
    margin-left: 70px;
    height: 100%;
    width: max-content;

}

#a1, #a1:visited, #a1:link #a1:any-link {
    font-style: normal;
    display: flex;
    text-decoration: none;
    color: #d35266;
}

#a1:hover {
    color: red;
    text-decoration: none;
    font-style: italic;
    background-image: url(icon-home-hover.png);
    background-size: 25px 25px;
    background-repeat: no-repeat;
    background-position:left;
    background-clip:color;
}

.top-bar-icon {
    height: 18px;
    width: 18px;
}

.top-bar-text {
    color: #888;
    font-size: 18px;
    font-family: "-apple-system", "BlinkMacSystemFont", 'Segoe UI', "Roboto, Oxygen", "Ubuntu", "Cantarell", "Open Sans", "Helvetica Neue", "sans-serif";
    margin-left: 10px;
    font-style: normal;
    display: flex;
    align-items: center;
    margin-right: 15px;
    ;
    font-size: 18px;
    font-family: "-apple-system", "BlinkMacSystemFont", 'Segoe UI', "Roboto, Oxygen", "Ubuntu", "Cantarell", "Open Sans", "Helvetica Neue", "sans-serif";
    text-decoration: :none;

}